Azure-Synpase/pipeline/pl_create_silver_tables_usp.json
{
	"name": "pl_create_silver_tables_usp",
	"properties": {
		"activities": [
			{
				"name": "read silver tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('folder_path_usp_name_array')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "delete_silver_tables_folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@item().folder_name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "create_silver_tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "delete_silver_tables_folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_name": "silver/calendar",
						"usp_name": "silver.usp_calendar"
					},
					{
						"folder_name": "silver/taxi_zone",
						"usp_name": "silver.usp_taxi_zone"
					},
					{
						"folder_name": "silver/payment_type",
						"usp_name": "silver.usp_payment_type"
					},
					{
						"folder_name": "silver/rate_code",
						"usp_name": "silver.usp_rate_code"
					},
					{
						"folder_name": "silver/trip_type",
						"usp_name": "silver.usp_trip_type"
					},
					{
						"folder_name": "silver/vendor",
						"usp_name": "silver.usp_vendor"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-03T12:45:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}